@import "normalize.css";
@import "fonts.css";

* {
    font-family: Roboto-Regular, serif;
    color: #FBFBFB;
}

body {
    background-color: #0C0C0C !important;
}

.background-logo {
    position: absolute;
    left: 7vw;
    top: 5vw;
    pointer-events: none;
    z-index: -10;
}

.background-logo span {
    color: #161616;
    font-family: "RobotoMono-Bold", serif;

    display: block;
}

.background-logo__apec {
    font-family: "RobotoMono-Bold", serif;
    font-size: 4vw;
}

.background-logo__ctf {
    font-size: 35vw;
    line-height: 0.7;
    font-family: "RobotoMono-Bold", serif;
}

.background-logo__list-tasks {
    display: flex;
    margin-top: 1vw;
    font-family: "RobotoMono-Bold", serif;
}

.background-logo__list-tasks span {
    font-size: 4vw;
    margin-right: 2vw;
}


.ctf-logo {
    position: absolute;
    top: 15vw;
    right: 10vw;
    pointer-events: none;
}

.ctf-logo span {
    font-family: "RobotoMono-Bold", serif;
    display: block;
}

.ctf-logo__apec {
    font-size: 2vw;
}

.ctf-logo__ctf {
    font-size: 18vw;
    line-height: 0.7;
}

.ctf-logo__list-tasks {
    display: flex;
    margin-top: 1vw;
}

.ctf-logo__list-tasks span {
    font-size: 2vw;
    margin-right: 1.5vw;
}


.signin {
    display: block;
    position: absolute;
    width: 420px;
    height: 290px;
    background-color: #272727;
    padding: 10px 24px;
    border-radius: 12px;
    margin-top: calc(50vh - 145px);
    left: 7vw;
}

.signin__title {
    font-size: 42px;
    font-family: "Roboto-Bold", serif;
}

.signin__form {
    display: block;
    margin-top: 33px;
}

.signin__form p {
    font-family: "Roboto-Regular", serif;
    font-size: 20px;
    margin: 0;
}

.signin__input {
    width: 329px;
    height: 45px;
    border-radius: 6px;
    background-color: #4B4B4B;
    border-color: transparent;
}

.signin__button {
    margin-top: 43px;
    display: block;
    width: 138px;
    height: 37px;
    background-color: #28A745;
    border: none;
    border-radius: 6px;
    font-family: "Roboto-Medium", serif;
}