/* Roboto */
@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

/* RobotoMono */
@font-face {
    font-family: "RobotoMono-Bold";
    src: url("../fonts/RobotoMono/RobotoMono-Bold.ttf");
}

@font-face {
    font-family: "RobotoMono-Light";
    src: url("../fonts/RobotoMono/RobotoMono-Light.ttf");
}

@font-face {
    font-family: "RobotoMono-Medium";
    src: url("../fonts/RobotoMono/RobotoMono-Medium.ttf");
}

@font-face {
    font-family: "RobotoMono-Regular";
    src: url("../fonts/RobotoMono/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "RobotoMono-SemiBold";
    src: url("../fonts/RobotoMono/RobotoMono-SemiBold.ttf");
}

